# Ejercicios Modulo 2. Librerías Especializadas (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M2U4_01_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

In [2]:
import pandas as pd

In [32]:
## Ejercicio sobre Pandas

* Carga los datos de __articulos_leidos.csv__ con Pandas
* Al cargar los datos, los nombres de las columnas deben ser: __'my_datetime', 'event', 'country', 'user_id', 'source', 'topic'__ (no vale cambiarlo en el CSV)
* Mostrar los primeros 10 registros
* Mostrar los últimos 10 registros
* Mostrar 5 registros aleatorios a modo de muestra
* Mostrar únicamente dos columnas del dataframe (en este orden): __country__ y __user_id__
* Mostrar los datos del dataframe cuyo __source = SEO__
* Mostrar los 5 primeros registros (únicamente con las columnas user_id, topic y country) que coincidan con que __country = country_2__
* Agrupar por source y realizar un conteo de elementos
* Agrupar por source, filtrar por la columna user_id para que sea la única que aparezca y realizar un conteo de elementos
* Mostrar los datos del dataframe que coincidan con que __country = country_2__. A este resultado, realizar una __agrupación por source y topic__ (por ambos, y en ese orden) y finalmente un conteo del resultado. A continuación se muestra el resultado que debe aparecer:
<img src="./img1.png"/>
* Igual que el anterior pero cambiando el orden de las columnas por las que agrupamos, es decir, en este caso, __agrupar por topic y source__. A continuación se muestra el resultado que debe aparecer:
<img src="./img2.png"/>
* Cargar el csv __articulos_comprados.csv__ con los nombres de columna __'my_date_time', 'event', 'user_id', 'amount'__
* __Fusiona los dos dataframes__ en un dataframe final que se llame __fusion__. Esta fusión se debe realizar adecuadamente para que aparezcan en la fusión los registros que aparecen en articulos_leidos.csv pero que no tienen correspondencia en articulos_comprados.csv. Y no deben aparecer los registros que si aparecen en articulos_comprados.csv pero no tienen correspondencia en articulos_leidos.csv
* Cambiar los __NaN por 0__
* __Agrupar por country__ y realizar el sumatorio
* Eliminar la columna user_id para quedarnos únicamente con __amount__
* __Ordenar__ los valores de mayor a menor
* Mostrar los __3__ primeros registros

SyntaxError: invalid syntax (<ipython-input-32-557a1387461a>, line 3)

In [42]:
# Carga los datos de __articulos_leidos.csv__ con Pandas

articlei=pd.read_csv("articulos_leidos.csv",sep=';')
articlei.head(3)

   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe

In [43]:
#Al cargar los datos, los nombres de las columnas deben ser: #__'my_datetime', 'event', 'country', 'user_id', 'source', 'topic'__ 

header_list = ["my_datetime", "event","country","user_id","source","topic"]
articlei=pd.read_csv("articulos_leidos.csv",names=header_list,sep=';')
articlei.head(3)

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa

In [44]:
#Mostrar los primeros 10 registros
articlei.head(10)

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5  2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6  2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7  2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8  2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9  2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America

In [45]:
#Mostrar los ultimos 10 registros
articlei.tail(10)

              my_datetime event    country     user_id   source          topic
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1786  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1788  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1789  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [46]:
# Mostrar 5 registros aleatorios a modo de muestra
articlei.sample(n=5, random_state=1)

              my_datetime event    country     user_id   source          topic
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
293   2018-01-01 03:56:11  read  country_2  2458151554   Reddit           Asia
1401  2018-01-01 19:03:06  read  country_2  2458152662   Reddit           Asia
1472  2018-01-01 20:05:28  read  country_6  2458152733   Reddit  South America
481   2018-01-01 06:25:51  read  country_7  2458151742  AdWords           Asia

In [47]:
#Mostrar únicamente dos columnas del dataframe (en este orden): __country__ y __user_id__

articlei[['country','user_id']]

        country     user_id
0     country_7  2458151261
1     country_7  2458151262
2     country_7  2458151263
3     country_7  2458151264
4     country_8  2458151265
...         ...         ...
1790  country_2  2458153051
1791  country_8  2458153052
1792  country_6  2458153053
1793  country_7  2458153054
1794  country_5  2458153055

[1795 rows x 2 columns]

In [48]:
# Mostrar los datos del dataframe cuyo __source = SEO__

articlei[articlei["source"]=="SEO"].head()

            my_datetime event    country     user_id source          topic
0   2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1   2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11  2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15  2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16  2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America

In [50]:
 #Mostrar los 5 primeros registros (únicamente con las columnas user_id, topic y country) que coincidan con que __country = country_2__


articlei[['user_id','topic','country']][articlei['country']=="country_2"].head(5)

       user_id   topic    country
6   2458151267  Europe  country_2
13  2458151274  Europe  country_2
17  2458151278    Asia  country_2
19  2458151280    Asia  country_2
20  2458151281    Asia  country_2

In [58]:
# Agrupar por source y realizar un conteo de elementos

articlei.groupby("source")["source"].count()

source
AdWords    500
Reddit     949
SEO        346
Name: source, dtype: int64

In [61]:
# Agrupar por source, filtrar por la columna user_id para que sea la única que aparezca y realizar un conteo de elementos
articlei[["source","user_id"]].groupby("source").count()

         user_id
source
AdWords      500
Reddit       949
SEO          346

In [63]:
# Mostrar los datos del dataframe que coincidan con que __country = country_2__. A este resultado, realizar una __agrupación por source y topic__ (por ambos, y en ese orden) y finalmente un conteo del resultado. A continuación se muestra el resultado que debe aparecer:


articlei[articlei["country"]=="country_2"].groupby(['source','topic']).count()

                       my_datetime  event  country  user_id
source  topic
AdWords Africa                   3      3        3        3
        Asia                    31     31       31       31
        Australia                6      6        6        6
        Europe                  46     46       46       46
        North America           11     11       11       11
        South America           14     14       14       14
Reddit  Africa                  24     24       24       24
        Asia                   139    139      139      139
        Australia               18     18       18       18
        Europe                  29     29       29       29
        North America           27     27       27       27
        South America           26     26       26       26
SEO     Africa                   7      7        7        7
        Asia                     9      9        9        9
        Australia               10     10       10       10
        Europe                   4      4        4        4
        North America           42     42       42       42
        South America           16     16       16       16

In [64]:
#2* Igual que el anterior pero cambiando el orden de las columnas por las que agrupamos, es decir, en este caso, __agrupar por topic y source__. A continuación se muestra el resultado que debe aparecer:

articlei[articlei["country"]=="country_2"].groupby(['topic','source']).count()

                       my_datetime  event  country  user_id
topic         source
Africa        AdWords            3      3        3        3
              Reddit            24     24       24       24
              SEO                7      7        7        7
Asia          AdWords           31     31       31       31
              Reddit           139    139      139      139
              SEO                9      9        9        9
Australia     AdWords            6      6        6        6
              Reddit            18     18       18       18
              SEO               10     10       10       10
Europe        AdWords           46     46       46       46
              Reddit            29     29       29       29
              SEO                4      4        4        4
North America AdWords           11     11       11       11
              Reddit            27     27       27       27
              SEO               42     42       42       42
South America AdWords           14     14       14       14
              Reddit            26     26       26       26
              SEO               16     16       16       16

In [65]:
 #Cargar el csv __articulos_comprados.csv__ con los nombres de columna __'my_date_time', 'event', 'user_id', 'amount'__



header_list = ["my_datetime", "event","user_id","amount"]
articompr=pd.read_csv("articulos_comprados.csv",names=header_list,sep=';')
articompr.head(3)

           my_datetime event     user_id  amount
0  2018-01-01 04:04:59   buy  2458151555       8
1  2018-01-01 09:28:00   buy  2458151933       8
2  2018-01-01 13:23:16   buy  2458152245       8

In [ ]:
#__Fusiona los dos dataframes__ en un dataframe final que se llame __fusion__. Esta fusión se debe realizar adecuadamente para que aparezcan en la fusión los registros que aparecen en articulos_leidos.csv pero que no tienen correspondencia en articulos_comprados.csv. Y no deben aparecer los registros que si aparecen en articulos_comprados.csv pero no tienen correspondencia en articulos_leidos.csv

In [68]:
#Cambiar los __NaN por 0__

fusion=pd.merge(articlei, articompr, on="user_id")
fusion.head()

,my_datetime_x,event_x,country,user_id,source,topic,my_datetime_y,event_y,amount
0,2018-01-01 00:13:39,read,country_4,2458151279,SEO,North America,2018-01-05 10:23:05,buy,100
1,2018-01-01 02:55:28,read,country_2,2458151468,SEO,Asia,2018-01-02 18:09:20,buy,88
2,2018-01-01 03:07:05,read,country_5,2458151481,SEO,Europe,2018-01-03 01:33:30,buy,200
3,2018-01-01 03:20:59,read,country_5,2458151500,SEO,North America,2018-01-04 10:43:38,buy,8
4,2018-01-01 03:31:22,read,country_4,2458151525,Reddit,Asia,2018-01-02 07:57:24,buy,80

In [77]:
#__Agrupar por country__ y realizar el sumatorio
fusion.groupby('country').sum()

               user_id  amount
country
country_2   9832607594     296
country_4  19665216331    1112
country_5  12290759751     324
country_7   2458152158     200
country_8   4916304985      16

In [ ]:
# Eliminar la columna user_id para quedarnos únicamente con __amount__
fusion.groupby('country')['amount'].sum()

In [80]:
# __Ordenar__ los valores de mayor a menor
fusion.groupby('country').sum().sort_values(['amount'], ascending=False)

               user_id  amount
country
country_4  19665216331    1112
country_5  12290759751     324
country_2   9832607594     296
country_7   2458152158     200
country_8   4916304985      16

In [81]:
#Mostrar los __3__ primeros registros
fusion.groupby('country').sum().sort_values(['amount'], ascending=False).head(3)

               user_id  amount
country
country_4  19665216331    1112
country_5  12290759751     324
country_2   9832607594     296