# Bases de datos con SQLite (Enunciados)

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [7]:
# Completa el ejercicio aquí
import sqlite3

conexion = sqlite3.connect("ejemplo.db")

# Creamos el cursor
cursor = conexion.cursor()
cursor.execute("drop table autor")
cursor.execute("drop table libro")
cursor.execute("drop table usuario")
# Ahora crearemos una tabla de usuarios para almacenar nombres, edades y emails
cursor.execute("CREATE TABLE autor (dni VARCHAR(100), nombre VARCHAR(100), apellidos VARCHAR(100),estarVivo INT     NOT NULL)")
cursor.execute("CREATE TABLE libro (isbn VARCHAR(100), titulo VARCHAR(100), editorial VARCHAR(100),año_escrito INT     NOT NULL)")
cursor.execute("CREATE TABLE usuario (dni VARCHAR(100), nombre VARCHAR(100), apellidos VARCHAR(100),numPrestamos INT     NOT NULL)")
autor = [('7312','Mario', 'Ejea',1),
            ('7313','Mercedes', 'Mercedes',0),
            ('7314','Juan','Juan',0),
            ]
libro = [('7312','patito', 'elmundo',1950),
            ('7313','patite', 'elmundo',1850),
            ('7314','patitu','elmundo',1870),
            ]
usuario = [('7312xd','Mario', 'Ejea', 10),
            ('7313xd','Mercedes', 'Mercedes',10),
            ('7314xd','paco','Juan',300),
            ]
# Ahora utilizamos el método executemany() para insertar varios
cursor.executemany("INSERT INTO autor VALUES (?,?,?,?)",autor)
cursor.executemany("INSERT INTO libro VALUES (?,?,?,?)",libro)
cursor.executemany("INSERT INTO usuario VALUES (?,?,?,?)",usuario)

for row in cursor.execute("SELECT * FROM autor"):
 print(row)
for row in cursor.execute("SELECT * FROM libro"):
 print(row)
for row in cursor.execute("SELECT * FROM usuario"):
 print(row)

for row in cursor.execute("SELECT * FROM autor where estarVivo in (1)"):
    print(row)
for row in cursor.execute("SELECT * FROM libro where año_escrito>1900"):
    print(row)
for row in cursor.execute("SELECT * FROM usuario where nombre='paco'and numPrestamos>10 "):
    print(row)
# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

('7312', 'Mario', 'Ejea', 1)
('7313', 'Mercedes', 'Mercedes', 0)
('7314', 'Juan', 'Juan', 0)
('7312', 'patito', 'elmundo', 1950)
('7313', 'patite', 'elmundo', 1850)
('7314', 'patitu', 'elmundo', 1870)
('7312xd', 'Mario', 'Ejea', 10)
('7313xd', 'Mercedes', 'Mercedes', 10)
('7314xd', 'paco', 'Juan', 300)
('7312', 'Mario', 'Ejea', 1)
('7312', 'patito', 'elmundo', 1950)
('7314xd', 'paco', 'Juan', 300)